<div ng-controller="breadcrumbsController">
    <span ng-repeat="cat in parentCategories">
        <a href="#" ng-click="categoryClicked(cat.id)">{{cat.name}} -</a> 
    </span>
    <a href="#" ng-click="categoryClicked(selectedCategory.id)">{{selectedCategory.name}}</a> 
    

</div>