<div ng-controller="pagerController">
    <pagination total-items="offers.total" items-per-page="take" page="page" class="pagination-small" boundary-links="true" on-select-page="pageChanged(page)"
                first-text="Pierwszy" last-text="Ostatni" previous-text="Poprzedni" next-text="Następny"></pagination>
</div>  