################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
Abon.v12.suo
/Abon/bin
/Abon/obj
/Abon.BusinessLogic/bin
/Abon.BusinessLogic/obj
/Abon.Database/bin
/Abon.Database/Repository/Repository.cs
/Abon.Database/obj
/Abon.Database.Model/bin
/Abon.Database.Model/obj
/Abon.Dto/bin
/Abon.Dto/obj
/Abon.Interfaces/bin
/Abon.Interfaces/obj
/Abon.BusinessLogic.Tests/bin
/Abon.BusinessLogic/bin/Debug
/Abon.BusinessLogic.Tests/obj
/Abon.Core/bin
/Abon.Core/obj
/Abon.Tests/bin
/Abon.Tests/obj
/Tests.Core/obj/Debug
/Test/obj/Debug
/Abon.Database/bin/Debug
