@using Abon.HtmlHelpers
@model Abon.Dto.Portal.Home.MenuDto

<style>
    .subcategoryDiv {
        position:absolute;
         background: white;
          border: 1px solid;
           border-color: black;
            top:40px; width:100%
    }
</style>

<hor-menu>

</hor-menu>

@*<div ng-controller="menuController" class="nav-collapse collapse" >
    <ul class="nav" id="categories">
        <li ng-mouseenter="openMenu(cat)" ng-mouseleave="closeMenu()" ng-repeat="cat in categories" class="dropdown">
            <a>{{cat.name}}</a>
        </li>
    </ul>
    <div ng-show="openedCategory != null" style="position:absolute; background: white; border: 1px solid; border-color: black; top:40px; width:100%">
        <ul>
            <li ng-repeat="subcat in openedCategory.children">{{subcat.name}}</li>
        </ul>
    </div>

</div>*@
<script>
    window.MenuData = @Html.ToCamelCaseJson(Model)
</script>