@model Abon.Dto.Portal.Home.CategoryDto

@{
    var random = new Random();
}
<div style="display: none; width: 100%; position: absolute; background: #29abe1; left: 0px; min-height:250px; " ng-mouseenter="openMenu()" ng-mouseleave="closeMenu()" data-ng-show="openedCategoryId == '@Model.Id'">
    <ul style="margin-top: 25px;">
        @foreach (var subCategory in Model.Children)
        {
            

            <li><a ng-mouseover="openImage('@subCategory.Id')" href="#">@subCategory.Name</a></li>
            <div class="menu-category-img" style=" position: absolute; bottom: 0px; right: 0px">
                <img style="width:100%; height:auto; " src="/img/test-img-menu.png" ng-show="openedImageId == '@subCategory.Id'" />
                </div>
        }
    </ul>
    
</div>
