
<li class="categoryItem" style="float:right">
        <a href="/UserOffers">
            <img src="/File/GetImage?id=2269152f-9a6b-4023-8009-b57038aefd57">
            <p>Przejdź do indywidualnych</p>
        </a>
</li>