<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a href="@Url.Action("Index", "Home")" class="brand">
                <img src="/img/@ViewBag.OfferTypeClass/logo.png" />
            </a>

            <ul class="nav pull-right">
                @Html.Partial("_LoginPartial")
                <div class="search-main">
                    <form>
                        <div id="searchinout">
                            <input id="main-search" type="search" placeholder="Szukaj..." />
                            <input type="button" class="search sbtn" value="" />
                        </div>
                    </form>


                </div>
            </ul>
            <div class="clearfix"></div>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.Action("Menu", "Home", null)

          

        </div>
    </div>
</div>


<script>
    var $menu = $(".dropdown-menu");

    $menu.menuAim({
        activate: activateSubmenu,
        deactivate: deactivateSubmenu
    });

    function activateSubmenu(row) {
        var $row = $(row),
            submenuId = $row.data("submenuId"),
            $submenu = $("#" + submenuId),
            height = $menu.outerHeight(),
            width = $menu.outerWidth();

        $submenu.css({
            display: "block",
            top: -1,
            left: width - 3,  
            height: height - 4  
        });
      
        $row.find("a").addClass("maintainHover");
    }
    function deactivateSubmenu(row) {
        var $row = $(row),
            submenuId = $row.data("submenuId"),
            $submenu = $("#" + submenuId);
        
        $submenu.css("display", "none");
        $row.find("a").removeClass("maintainHover");
    }
 
    $(".dropdown-menu li").hover(function (e) {
        e.stopPropagation();
    });
    $(document).hover(function () {

        $(".popover").css("display", "none");
        $("a.maintainHover").removeClass("maintainHover");
    });
</script>

<script>
    var inputWdith = '200px';
    var inputWdithReturn = '140px';

    $(document).ready(function () {
        $('#main-search').focus(function () {
          
            $(this).val(function () {
                $(this).val('');
            });
          
            $(this).animate({
                width: inputWdith
            }, 500)
        });

        $('#main-search').blur(function () {
            $(this).val('Szukaj...');
            $(this).animate({
                width: inputWdithReturn
            }, 500)
        });
    });


    //....................................

    $(function () {
        
        var headHeight = $('.menu-bg').outerHeight();
        $(window).scroll(function () {
            if ($(window).scrollTop() > headHeight) {
                $('.brand').addClass('stickyLogo');
                $('.menu-bg').addClass('stick2top');
                $('.pull-right').addClass('stick3top');
            } else {
                $('.brand').removeClass('stickyLogo');
                $('.menu-bg').removeClass('stick2top');
                $('.pull-right').removeClass('stick3top');

            }
        });

    });

</script>
