@using Abon.HtmlHelpers
@model Abon.Dto.Portal.Home.MenuDto

<div class="menu-bg">
    <div class="nav-collapse collapse" data-ng-controller="menuController">

        @Html.Partial("_Partials/_MainCategories", Model.Categories)

        

    </div>
</div>
<script>
    window.menuData = @Html.ToCamelCaseJson(Model)
</script>
