@model Abon.Dto.Portal.Home.UserOffersDto

@{
    ViewBag.Title = "Oferty";
}
<div class="row" ng-controller="offerController">
    <div class="span3">
        
    </div>
    

    <div class="span9">
        
    </div>   
</div>