@using Abon.Dto.Portal.Home
@using Abon.Dto.Portal.Home.Filter
@using Abon.HtmlHelpers
@{
    var priceTo = AngularHelper<OfferFilterDto>.PropertyName(el => el.PriceTo);
    var priceFrom = AngularHelper<OfferFilterDto>.PropertyName(el => el.PriceFrom);
    var cityId = AngularHelper<OfferFilterDto>.PropertyName(el => el.CityId);

    var priceToLabel = AngularHelper<OfferFilterDto>.Label(el => el.PriceTo);
    var priceFromLabel = AngularHelper<OfferFilterDto>.Label(el => el.PriceFrom);
    var cityIdToLabel = AngularHelper<OfferFilterDto>.Label(el => el.CityId);
    
    var filterForm = "filterForm";
}


<div ng-controller="filterController" class="filterController">
    <form name="@filterForm">
        <div>
           <div class="header-imput">cena</div>
            <input ng-model="@priceFrom" number placeholder="od" />
            </div>


        <div>
            <div class="header-imput">-</div>
            <input ng-model="@priceTo" number placeholder="do" />
        </div>


        <div>
            @cityIdToLabel
            <select ng-model="@cityId" ng-options="city.value as city.text for city in cities" >
                <option value="">Brak</option>
            </select>
        </div>

        <div>
            <input type="button" class="btn btn-primary" value="Filtruj" ng-click="filter()" ng-disabled="filterForm.$invalid"/>
        </div>
    </form>
</div>