body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}
   .subcategoryDiv {
        position: absolute;
        background: #29abe1;
        border: 1px solid;
        border-color: black;
        top: 40px;
        width: 100%;
    }

    .categoryItem {
        padding: 0px 20px 0px 20px;
        border-right:1px solid #dbdbdb;
    }
     .categoryItem:first-child {
        border-left:1px solid #dbdbdb;
    }
      .categoryItem:hover {
       background:#29abe1;
    }

        .categoryItem div {
        }

         .navbar .popover {
        width: 400px;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        overflow: hidden;
    }

    .navbar .popover-content {
        text-align: center;
    }

        .navbar .popover-content img {
            height: 212px;
            max-width: 250px;
        }

    .navbar .dropdown-menu {
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

        .navbar .dropdown-menu > li > a:hover {
            background-image: none;
            color: white;
            background-color: rgb(0, 129, 194);
            background-color: rgba(0, 129, 194, 0.5);
        }

        .navbar .dropdown-menu > li > a.maintainHover {
            color: white;
            background-color: #0081C2;
        }
.btn.btn-navbar {
position:absolute;
z-index:1234;
}
.nav.menu {
width:100%;
}
.nav-collapse.collapse.ng-scope{
    max-width:1200px;
    margin:auto;
}

.category-header {
background:#e3e3e3;
color:#8a2f8b;
font-size:18pt;
padding:20px 15px 0px 15px;
min-height:43px;
}
.changeViewPanel{
    background:#e3e3e3;
    padding:10px;
}
.category-left {
background:#e3e3e3;

}
.category-left ul {
margin-top:1px;
}
.category-left ul li {
font-size:16px;
padding:20px 15px 20px 15px;
cursor:pointer;
}
.category-left ul li {
color:#bdbdbd;   
    }
.category-left ul li:hover {
background:#8a2f8b;
}
.category-left ul li:hover  {
color:#fff;
    }
.ng-pristine.ng-valid.ng-valid-number{
    max-width:35%;
    float:left;
}
.header-imput {
float:left;
padding-right:5px;
}
.filterController{
    padding:15px;
    background:#e3e3e3;
    margin-top:1px;
}
ul.nav.menu li p{
    color:#fff;
}
ul.nav.menu li ul li a{
    color:#fff;
    padding:15px;
}
ul.nav.menu li ul li{
    padding:5px;
}
.title-header-reg-log{
    display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.view-list {
margin-bottom:1px;
}